# Archivos de modelos y archivos comprimidos
data/**/*.pt
data/**/*.tgz

# Archivos de texto
data/**/*.txt

# Archivos de imagen en todos los formatos comunes
data/**/*.png
data/**/*.PNG
data/**/*.jpg
data/**/*.jpeg
data/**/*.JPEG
data/**/*.JPG
data/**/*.csv

DCGAN_*
classificators copy/*
imagenette2_64 copy/*
imagewoof2_64 copy/*
